@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ClientDependency.Core.Mvc;
@{
    // React.js base Umbraco template page.
    Layout = null;

    Html.RequiresCss("/assets/css/main.css");
    Html.RequiresCss("/assets/js/dashboard/app.css");

    Html.RequiresJs("/assets/js/dashboard/vendor.js", 1);
    Html.RequiresJs("/assets/js/dashboard/app.js", 2);
}
<html ng-app="train">
<head>
	    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Maintenance Training with TPC Trainco | TPC Trainco</title>
    <meta name="description" content="Advance as a maintenance professional with electrical courses, HVAC or maintenance training from TPC Trainco. Register now with our money back guarantee." />
    <meta name="keywords" content="" />
    <link rel="canonical" href="https://www.tpctrainco.com/" />
    <link rel="dns-prefetch" href="//cdnjs.cloudflare.com/">
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Maintenance Training with TPC Trainco - TPC Trainco" />
    <meta property="og:description" content="Advance as a maintenance professional with electrical courses, HVAC or maintenance training from TPC Trainco. Register now with our money back guarantee." />
    <meta property="og:url" content="http://www.tpctrainco.com/" />
    <meta property="og:site_name" content="TPC Trainco" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="Advance as a maintenance professional with electrical courses, HVAC or maintenance training from TPC Trainco. Register now with our money back guarantee." />
    <meta name="twitter:title" content="TPC Trainco training" />
    <meta name="twitter:domain" content="TPC Trainco" />
    <base href="/" />
    <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link href="/images/favicon.ico" rel="shortcut icon">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    @Html.RenderCssHere()
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//fonts.googleapis.com/css?family=Lato:100,300,400,700,100italic,400italic" rel="stylesheet" type="text/css">
	<link rel="shortcut icon" href="/assets/js/dashboard/favicon.ico">
	<!--[if lt IE 10]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.7/es5-shim.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.7/es5-sham.min.js"></script>
    <![endif]-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
    @Html.Partial("Navigation/Top")
	<div id="root"></div>
    @Html.Partial("Navigation/Bottom")
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.4.0/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.4.9/angular-sanitize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.1.2/ui-bootstrap-tpls.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/2.8.0/rzslider.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/1.2.7/spin.min.js"></script>
    <script src="/assets/js/ngapp/lib/angular-loading.js"></script>
    <script src="/assets/js/ngapp/lib/angular-selector.js"></script>
	@Html.RenderJsHere()
    <script src="/assets/js/ngapp/core/core.module.js"></script>
    <script src="/assets/js/ngapp/common/common.module.js"></script>
    <script src="/assets/js/ngapp/components/components.module.js"></script>
    <script src="/assets/js/ngapp/register/register.module.js?v@cacheVer"></script>
    <script src="/assets/js/ngapp/seminar/seminar.module.js?v@cacheVer"></script>
    <script src="/assets/js/ngapp/auth/auth.module.js"></script>
    <script src="/assets/js/ngapp/app.module.js"></script>
    <script src="/assets/js/ngapp/common/util.service.js?v@cacheVer"></script>
    <script src="/assets/js/ngapp/common/search.factory.js?v@cacheVer"></script>
    <script src="/assets/js/ngapp/common/seminars.factory.js?v@cacheVer"></script>
    <script src="/assets/js/ngapp/common/startFrom.filter.js?v@cacheVer"></script>
    <script src="/assets/js/ngapp/common/months.factory.js?v@cacheVer"></script>
    <script src="/assets/js/ngapp/common/cities.factory.js?v@cacheVer"></script>
    <script src="/assets/js/ngapp/common/dropIn.animation.js?v@cacheVer"></script>
    <script src="/assets/js/ngapp/common/slideToggle.animation.js?v@cacheVer"></script>
    <script src="/assets/js/ngapp/components/cart/cart.directive.js?v@cacheVer"></script>
    <script src="/assets/js/ngapp/common/stringToNumber.directive.js?v@cacheVer"></script>
    <script src="/assets/js/ngapp/seminar/seminar.controller.js?v@cacheVer"></script>
    <script src="/assets/js/ngapp/seminar/seminarItem.controller.js?v@cacheVer"></script>
    <script src="/assets/js/ngapp/seminar/courseSearch.service.js?v@cacheVer"></script>
    <script src="/assets/js/ngapp/auth/auth.controller.js"></script>
    <script src="/assets/js/ngapp/auth/loginModal.controller.js"></script>
    <script src="/assets/js/ngapp/register/register.controller.js?v@cacheVer"></script>
    <script src="/assets/js/ngapp/core/lodash.factory.js"></script>
    <script src="/assets/js/ngapp/components/mainSearch/mainSearch.directive.js?v@cacheVer"></script>
    <script src="/assets/js/ngapp/components/mainSearch/mainSearch.controller.js?v@cacheVer"></script>
    <script src="/assets/js/ngapp/components/cart/cart.service.js?v@cacheVer"></script>
    <script src="/assets/js/ngapp/components/cart/cart.controller.js?v@cacheVer"></script>
    <script>
        $(function () {
            var windowWidth = $(window).width();
            if (windowWidth > 991) {
                $(".dropdown").hover(
                function () { $(this).addClass('open') },
                function () { $(this).removeClass('open') }
                );
            }

            $('a[href^="#"]:not(.link-geolocation):not([data-toggle="collapse"])').click(function (e) {
                e.preventDefault();
                var hash = $(this).attr('href');
                if ($(hash).length == 0)
                    return false;
                $('html, body').stop(true).animate({
                    scrollTop:
                     $(hash).offset().top - 125
                }, 500);
            });

            if ($('.alert-visible').length > 0) {
                $('html body').animate({ scrollTop: $('.alert-visible:first').offset().top - 125 });
            }

            if ($('.alert-success').length > 0) {
                setTimeout(function () {
                    $('.alert-success').fadeOut(400, function () { $(this).remove(); });
                }, 5000);
            }
        });
    </script>

</body>
</html>